
@font-face {
  font-family: 'Graphik-Extralight';
  src: url('../fonts/Graphik-Extralight.otf') format('otf');
    
  font-weight:100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik-Extralight';
  src: url('../fonts/Graphik-ExtralightItalic.otf') format('otf');
      
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


@font-face {
    font-family: 'Graphik-Light';
    src: url('../fonts/Graphik-Light.otf') format('otf');
       
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Graphik-LightItalic';
    src: url('../fonts/Graphik-LightItalic.otf') format('otf');
 
    font-weight: lighter;
    font-style: italic;
    font-display: swap;
  }


@font-face {
    font-family: 'Graphik-Regular';
    src: url('../fonts/Graphik-Regular.otf') format('otf'),
        url('Graphik-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Graphik-RegularItalic';
    src: url('../fonts/Graphik-RegularItalic.otf') format('otf');
       
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Graphik-Bold';
    src: url('../fonts/Graphik-Bold.otf') format('otf');
       
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Graphik-BoldItalic';
    src: url('../fonts/Graphik-BoldItalic.otf') format('otf');
        
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }



  @font-face {
    font-family: 'Detroit3-UL';
    src: url('../fonts/Detroit3 UltraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
  font-family: 'Detroit3-R';
  src: url('../fonts/Detroit3 Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

